/* ----- header ----- */
header, section, footer {
  padding: 20px 3%;
}

header{
  background-color: white;
  display: flex;
  align-items: center;
  height: 100px;
}

h1{
  color: lightseagreen;
  padding: 20px;
}

header nav{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  padding: 35px;
}

header a{
  color: green;
  font-weight: bold;;
}

a:hover{
  color: rgb(187, 3, 187);
  text-decoration-line: underline;
}

header img{
  width: 100px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}


/* ----- body ----- */
body{
  background: skyblue;
  margin: 0;
  font-family: sans-serif;
}

.fishes h2, .sea_creatures h2, .bugs h2, .fossils h2{
  text-align: center;
  color: white;
  font-size: xx-large;
}

.hero{
  background-image: url(./assets/ac_background.webp);
  height: 100px;
  background-position: center;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

/* ----- body: fish/sea_creatures/bugs ----- */
.fish, .sea_creature, .bug, .fossil {
  padding: 50px;
  max-width: 350px;
}

.fish-buttons, .seaCreature-buttons, .bug-buttons, .fossil-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fish-buttons button, .seaCreature-buttons button, .bug-buttons button, .fossil-buttons button{
  margin: 5px;
}

.fish_image, .sea_creature_image, .bug_image, .fossil_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.fish h4, .fish p, .sea_creature h4, .sea_creature p, .bug h4, .bug p, .fossil h4, .fossil p{
  text-align: center;
}


/* ----- body: caught_fishes/caught_sea_creaures/caught_bugs ----- */
.caught_fishes, .caught_sea_creatures, .caught_bugs, .found_fossils{
  flex-wrap: wrap;
}

.caught_fishes h3, .caught_sea_creatures h3, .caught_bugs h3, .found_fossils h3{
  font-size: x-large;
  color: white;
}

.list_caught_fish ul, .list_caught_sea_creatures ul, .list_caught_bugs ul, .list_found_fossils ul{
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0px;
  justify-content: space-between;
}

.list_caught_fish li, .list_caught_sea_creatures li, .list_caught_bugs li, .list_found_fossils li{
  flex: 1 0 25%;
  padding: 0px;
}


/* ----- body: fish_to_catch/sea_creatures_to_catch/bugs_to_catch ----- */
.fish_to_catch, .sea_creatures_to_catch, .bugs_to_catch, .fossils_to_find{
  color: black ;
  flex-wrap: wrap;
}

.fish_to_catch h3, .sea_creatures_to_catch h3, .bugs_to_catch h3, .fossils_to_find h3{
  font-size: x-large;
}

.list_not_caught_fish ul, .list_not_caught_sea_creatures ul, .list_not_caught_bugs ul, .list_not_found_fossils ul{
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 20px;  
  justify-content: space-between;
}

.list_not_caught_fish li, .list_not_caught_sea_creatures li, .list_not_caught_bugs li, .list_not_found_fossils li{
  flex: 1 0 25%;
  margin: 0px;
}


/* ----- footer ----- */
footer {
  /* background-color: #fdf2d1; */
  background-image: url(./assets/ac_footer_img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 350px;
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer a,
  footer p {
    margin: 10px 0;
}
